.cluster-connection-drawer .pf-c-content {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pf-c-code-editor__main {
  height: 220px;
}

.pf-c-code-editor__code-pre {
  white-space: normal;
  word-break: break-word;
}

.pf-c-card.card-certificate {
  background-color: #f0f0f0;
  border-color: transparent;
}
.instance-detail-first-grid {
  margin-right: 15px;
}
.instance-card-grid {
  margin-top: 20px;
  margin-bottom: 20px;
}