.mk--create-instance__tile--icon {
  margin-right: var(--pf-global--spacer--md);
}

.cloud-region-icon {
  margin-right: var(--pf-global--spacer--md);
}

/* drawer customizations */
.pf-c-drawer__panel.instance-details-panel {
  flex-basis: 35%;
  transform: translateX(0);
}
.pf-c-drawer.pf-m-static > .pf-c-drawer__main > .pf-c-drawer__panel:not(.pf-m-no-border)::after {
  background-color: var(--pf-c-drawer--m-inline--m-expanded__panel--after--BackgroundColor);
}
.pf-c-drawer__panel.instance-details-panel .pf-c-drawer__body {
  padding: 0 0 0 var(--pf-global--spacer--lg);
}
.pf-c-drawer__content.instance-form {
  flex-shrink: 1;
}
.pf-c-drawer__content.instance-form .pf-c-drawer__body {
  padding: 0 var(--pf-global--spacer--lg) 0 0;
}

/* TextContent dl customizations */
.instance-details-panel .pf-c-content dl {
  display: block;
}
.instance-details-panel dt {
  font-size: var(--pf-global--FontSize--sm);
}
.instance-details-panel dd {
  margin-bottom: var(--pf-global--spacer--sm);
}
