.mk--create-instance__tile--icon {
  margin-right: var(--pf-global--spacer--md);
}

.cloud-region-icon {
  margin-right: var(--pf-global--spacer--md);
}

.pf-c-drawer__panel.instance-details-panel {
  flex-basis: 35%;
  transform: translateX(0);
}

.pf-c-drawer__content.instance-form {
  flex-shrink: 1;
}

.pf-c-drawer__content.instance-form .pf-c-drawer__body {
  padding: 0 var(--pf-global--spacer--lg) 0 0;
}
