.mk--filter-instances__toolbar--select--type-ahead
  .pf-c-select__toggle.pf-m-typeahead {
  width: 230px;
}

.pf-c-chip__text {
  --pf-c-chip__text--MaxWidth: 35ch;
}

.pf-c-select__toggle:before {
  border-top: 1px solid var(--pf-c-select__toggle--before--BorderTopColor);
  border-right: 1px solid var(--pf-c-select__toggle--before--BorderRightColor);
  border-bottom: 1px solid var(--pf-c-select__toggle--before--BorderBottomColor);
  border-left: 1px solid var(--pf-c-select__toggle--before--BorderLeftColor);
}

.select-custom-width {
  min-width: 265px;
}
