.mk--filter-instances__toolbar--text-input {
  min-width: max-content;
}

.mk--filter-instances__toolbar--select--type-ahead .pf-c-select__toggle.pf-m-typeahead {
  width: 230px;
}

.pf-c-chip__text {
  --pf-c-chip__text--MaxWidth: 35ch;
}

.pf-c-select__toggle:before {
  border-top: var(--pf-c-select__toggle--before--BorderTopWidth) solid var(--pf-c-select__toggle--before--BorderTopColor);
  border-right: var(--pf-c-select__toggle--before--BorderRightWidth) solid var(--pf-c-select__toggle--before--BorderRightColor);
  border-bottom: var(--pf-c-select__toggle--before--BorderBottomWidth) solid var(--pf-c-select__toggle--before--BorderBottomColor);
  border-left: var(--pf-c-select__toggle--before--BorderLeftWidth) solid var(--pf-c-select__toggle--before--BorderLeftColor);
}