.mk--create-instance__tile--icon {
  margin-right: var(--pf-global--spacer--md);
}

/* TextContent dl customizations */
.mk--create-instance-modal__sidebar--content .pf-c-content dl {
  display: block;
}
.mk--create-instance-modal__sidebar--content dt {
  font-size: var(--pf-global--FontSize--sm);
}
