@import url('@redhat-cloud-services/frontend-components/components/Spinner.css');
.pf-bullseye-comp {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
