.check-circle-icon-color{
    color:var(--pf-global--success-color--100)
}

.exclamation-circle-icon-clolor{
    color:var(--pf-global--danger-color--100)
}

.status-label-format {
    text-transform: capitalize;
 }